<!--Navbar -->
<nav class="navbar scrolling-navbar navbar-expand-lg navbar-dark pink darken-1 blue-gradient">
    <a class="navbar-brand" href="{% url 'backend:home' %}">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">
    </a>
    <button class="float-right navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top"
            aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-top">
        <ul class="navbar-nav nav-flex-icons font-weight-bold justify-content-center ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->

